POSTGRES_DB=cob4
POSTGRES_USER=cob4
POSTGRES_PASSWORD=gere-uma-senha-forte
SGC_JWT_SECRET=gere-ao-menos-32-caracteres-aleatorios
SGC_USUARIO_INICIAL_SENHA=gere-uma-senha-inicial-forte
SGC_LGPD_ANEXOS_CHAVE=gere-exatamente-32-caracteres
SGC_CORS_ORIGENS=https://homolog.exemplo.com.br
RBX_API_URL=
RBX_API_V2_URL=
RBX_API_KEY=
